<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nqnz@zbid.hf</string>
	<key>contactName</key>
	<string>Adam Knight</string>
	<key>description</key>
	<string></string>
    <key>name</key>
    <string>x86_64 Assembly</string>
	<key>uuid</key>
	<string>5C177BCE-6E2A-4EB7-A7B8-C6C224929A8F</string>
</dict>
</plist>
